@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-inter: "Inter", sans-serif;
  --font-figtree: "Figtree", sans-serif;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-inter;
  }

  body {
    @apply font-figtree overflow-x-hidden text-[15px] text-gray-700;
  }

  body,
  * {
    @apply transition duration-300;
  }

  h1 {
    @apply text-3xl font-bold sm:text-4xl md:text-5xl/15;
  }
  h2 {
    @apply text-2xl font-extrabold sm:text-3xl md:text-4xl;
  }

  h3 {
    @apply text-xl font-bold sm:text-xl md:text-2xl;
  }
}
